{
    "overrides": [
      {
        "files": ["*.yml", "*.yaml"],
        "options": {
          "tabWidth": 2,
          "useTabs": false,
          "singleQuote": false,
          "proseWrap": "preserve"
        }
      },
      {
        "files": ["*.md"],
        "options": {
          "tabWidth": 4,
          "printWidth": 80,
          "proseWrap": "preserve"
        }
      }
    ]
  }
  