mkdocs-material[imaging]
mkdocs-glightbox
mkdocs-redirects
mkdocs-static-i18n
# mkdocs-awesome-nav
mkdocs-macros-plugin
mkdocs-ultralytics-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-markdownextradata-plugin

# Note: Build tools and scripts are now in the openterface-cms submodule.
# Install CMS dependencies with: pip install -r openterface-cms/requirements.txt