mkdocs-material
mkdocs-glightbox
mkdocs-redirects
mkdocs-markdownextradata-plugin
mkdocs-awesome-nav
mkdocs-ultralytics-plugin
mkdocs-macros-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2