:root {
    --description-font-dark: #373737;
    --description-font-light: #efefef;
    --button-hover-color: #ffffff;
}

.md-button.md-button:hover {
    background-color: var(--button-hover-color);
    border-color: var(--md-primary-fg-color);
    color: var(--md-primary-fg-color);
}

.mdx-container {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 1'><path d='M0,0 H1123' style='stroke: hsla(0, 0%, 100%, 1); stroke-width: 1'/></svg>") no-repeat bottom, 
    linear-gradient(to bottom, var(--md-primary-fg-color) 30%, #ffffff 100%, var(--md-default-bg-color) 100%);
    padding-top: 1rem;
}

.mdx-hero {
    color: var(--md-primary-bg-color);
    margin: 0.8rem;
}

.mdx-hero h1 {
    color: currentcolor;
    font-weight: 700;
    margin-bottom: 1rem;
}

.mdx-hero__content {
    padding-bottom: 6rem;
    text-align: left;
}

@media screen and (max-width:60em) {
    .mdx-hero {
        display: block;
    }

    .mdx-hero__content {
        margin-top: 1rem;
        max-width: none;
        padding-bottom: 2rem;
        text-align: center;
    }

    .mdx-hero__content .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        max-width: 50%;
        margin: auto; /* Center the container */
    }

    .mdx-hero__content .logo-container img {
        max-width: 100%; /* Allow logos to scale down */
        height: auto; /* Maintain aspect ratio */
    }

    .mdx-hero__content .logo-container img[src="assets/logo.png"] {
        width: 26%;
    }

    .mdx-hero__content img, 
    .mdx-hero__content p, 
    .mdx-hero__content a {
        display: block; /* Stack images, paragraphs, and links */
        margin: 0 auto; /* Center-align the elements */
        max-width: 100%; /* Ensure they fit the container */
        font-size: 0.8rem;
        color: var(--description-font-light);
    }

    .mdx-hero__image {
        order: 0;
        transform: none;
        width: auto; /* Adjust the image width */
        margin-bottom: 1rem; /* Space between the image and content */
        padding-left: 3rem; /* Added left padding */
        padding-right: 3rem; /* Added right padding */
    }
}

@media screen and (min-width:60em) {
    .mdx-hero {
        align-items: stretch;
        display: flex;
    }

    .mdx-hero__content {
        margin-top: 3.5rem;
        max-width: 19rem;
        padding-bottom: 14vw;
    }

    .mdx-hero__image {
        order: 1;
        transform: translateX(4rem);
        width: 38rem;
    }
}

@media screen and (min-width:76.25em) {
    .mdx-hero__image {
        transform: translateX(8rem);
    }
}


.mdx-hero .md-button {
    color: var(--md-primary-fg-color);
    margin-right: .5rem;
    margin-top: .5rem
}

.mdx-hero .md-button:focus, .mdx-hero .md-button:hover {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color)
}

.mdx-hero .md-button--primary {
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
    color: var(--md-primary-fg-color);
}

.mdx-hero .md-button:focus, .mdx-hero .md-button:hover {
    background-color: var(--md-primary-fg-color);
    border-color: var(--md-primary-fg-color);
    color: var(--md-accent-bg-color);
}

.product-close-up {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-close-up .product-video {
    width: 100%;    /* Makes the video width responsive */
    height: auto;   /* Maintains the aspect ratio */
    max-width: 640px; /* Maximum width of the video */
}

.product-close-up .product-close-up-content {
    display: flex;
    flex-direction: column-reverse; /* Reverse the order on smaller screens */
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 2rem;
}

.product-close-up .product-image, .product-close-up .product-description {
    flex-basis: 100%;
    max-width: 100%;
}

.product-close-up .product-image img {
    max-width: 100%;
    height: auto;
}

.product-close-up .product-description {
    padding: 1rem;
    text-align: center;
}

.product-close-up .product-description p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--description-font-dark);
}

/* For larger screens, use a row layout with images and descriptions side by side */
@media screen and (min-width:60em) {
    .product-close-up .product-close-up-content {
        flex-direction: row; /* Row layout for larger screens */
        align-items: center;
        justify-content: space-between;
    }

    .product-close-up .product-image, .product-close-up .product-description {
        flex-basis: 50%;
    }

    .product-close-up .product-description {
        padding-left: 2rem;
        text-align: left;
    }

    .product-close-up .reverse-layout {
        flex-direction: row-reverse; /* Reverse layout for alternate sections */
    }

    .product-close-up .reverse-layout .product-description {
        padding-left: 0;
        padding-right: 2rem;
    }
}

.product-features {
    background: var(--md-primary-fg-color);
    padding: 2rem; /* This will apply to top and bottom */
    padding-left: 1rem; /* Add left padding */
    padding-right: 1rem; /* Add right padding */
    text-align: center;
}

.product-features h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--description-font-light);
}

.product-features .features-list .feature{
    margin-bottom: 1rem;
}

.product-features .features-list h3 {
    font-size: 1.2rem;
    color: var(--description-font-light);
}

.product-features .features-list p {
    font-size: 0.8rem;
    color: var(--description-font-light);
}

.quick-guidelines {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 1'><path d='M0,0 H1123' style='stroke: hsla(0, 0%, 100%, 1); stroke-width: 1'/></svg>") no-repeat bottom, 
    linear-gradient(to top, var(--md-primary-fg-color), #ffffff 99%, var(--md-default-bg-color) 99%);
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 3rem;
}

.quick-guidelines h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--description-font-dark);
}

.quick-guidelines img {
    max-width: 100%; /* Limit image width to the container's width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Block display to enable margin settings */
    margin-left: auto; /* Center the image horizontally */
    margin-right: auto;
}

.use-cases {
    padding: 2rem; /* This will apply to top and bottom */
    padding-left: 1rem; /* Add left padding */
    padding-right: 1rem; /* Add right padding */
    text-align: center;
}

.use-cases h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--description-font-dark);
}

.use-cases .cases-list .case {
    margin-bottom: 1rem;
}

.use-cases .cases-list h3 {
    font-size: 1.2rem;
    color: var(--description-font-dark);
}

.use-cases .cases-list p {
    font-size: 0.8rem;
    color: var(--description-font-dark);
}

.comparison-table {
    padding: 2rem;
    text-align: center;
  }
  
  .comparison-table .container {
    max-width: 1200px;
    margin: auto;
    overflow-x: auto; /* Ensures table is scrollable on small screens */
  }
  
  .comparison-table h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--description-font-dark);
  }
  
  .comparison-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #ffffff;
  }
  
  .comparison-table th, .comparison-table td {
    text-align: left;
    padding: 12px 15px;
    border: 1px solid #ddd;
    color: var(--description-font-dark);
  }
  
  .comparison-table th {
    background-color: #626262;
    color: var(--description-font-light);
    font-weight: bold; /* Make font bold for headers */
  }
  
  /* Highlighting Openterface Mini-KVM Column */
  .comparison-table td:nth-child(2) {
    background-color: #ffe9d5;
  }
  
  /* Hover effect for rows */
  .comparison-table tr:hover td {
    background-color: #e8e8e8;
  }
  
  /* Ensuring highlighted column maintains its color on hover */
  .comparison-table tr:hover td:nth-child(2) {
    background-color: #ffddb0; /* Slightly darker shade for hover on highlighted column */
  }
  
  /* Responsive Styling */
  @media screen and (max-width: 768px) {
    .comparison-table h2 {
      font-size: 1.5rem;
    }
  
    .comparison-table th, .comparison-table td {
      padding: 8px;
    }
  }
