:root {
    --md-accent-fg-color: #df4d3f;
    --description-font-dark: #373737;
    --description-font-light: hsl(0, 0%, 100%);
    --button-hover-color: #ffffff;
    --shared-padding: 2rem 4rem;
    --shared-padding-mobile: 1rem 1rem;
    --shared-padding-mobile-bottom: 2rem;
    --shared-p-width: 680px;
}

.bold-text {
    font-weight: bold;
}

.md-button.md-button:hover {
    background-color: var(--button-hover-color);
    border-color: var(--md-primary-fg-color);
    color: var(--md-primary-fg-color);
}

.mdx-container {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 1'><path d='M0,0 H1123' style='stroke: hsla(0, 0%, 100%, 1); stroke-width: 1'/></svg>") no-repeat bottom, 
    linear-gradient(to bottom, var(--md-primary-fg-color) 30%, #ffffff 100%, var(--md-default-bg-color) 100%);
    padding-top: 1rem;
}

.mdx-hero {
    color: var(--md-primary-bg-color);
    margin: 0.8rem;
}

.mdx-hero h1 {
    color: currentcolor;
    font-weight: 700;
    margin-bottom: 1rem;
}

.mdx-hero__content {
    padding-bottom: 4rem;
    text-align: left;
}

.mdx-hero .md-button {
    color: var(--md-primary-fg-color);
    border-color: var(--md-accent-bg-color);
    margin-right: .5rem;
    margin-top: .5rem
}

.mdx-hero .md-button:focus, .mdx-hero .md-button:hover {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    color: var(--md-accent-bg-color);
}

.mdx-hero .md-button--primary {
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
    color: var(--md-primary-fg-color);
}

.mdx-hero .md-button:focus, .mdx-hero .md-button:hover {
    background-color: var(--md-primary-fg-color);
    border-color: var(--md-primary-fg-color);
    color: var(--md-accent-bg-color);
}

.product-close-up {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-close-up .product-video {
    width: 100%;    /* Makes the video width responsive */
    height: auto;   /* Maintains the aspect ratio */
    max-width: 640px; /* Maximum width of the video */
}

.product-close-up .product-close-up-content {
    display: flex;
    flex-direction: column-reverse; /* Reverse the order on smaller screens */
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 2rem;
}

.product-close-up .product-image, .product-close-up .product-description {
    flex-basis: 100%;
    max-width: 100%;
}

.product-close-up .product-image img {
    max-width: 100%;
    height: auto;
}

.product-close-up .product-description {
    padding: 1rem;
    text-align: center;
}

.product-close-up .product-description p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--description-font-dark);
}

.connection-row {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.connection-demo h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: inherit;
}

.connection-demo .connection-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connection-demo img {
    max-width: 100%;
    height: auto;
}

.connection-demo p {
    font-size: 0.8rem;
    color: var(--description-font-dark);
}

.comparison-solution {
    background: var(--md-default-bg-color);
    padding: var(--shared-padding);
    text-align: center;
    color: var(--description-font-dark);
}

.comparison-solution h2 {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: inherit;
}

.comparison-solution p {
    font-size: 1rem;
    color: inherit;
    margin-bottom: 1rem;
    max-width: var(--shared-p-width);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.comparison-solution .read-more-btn {
    margin-top: 1rem;
    float: right;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--md-primary-fg-color);
    border: 1px solid var(--md-primary-fg-color);
    border-radius: 0.25rem;
    font-size: 0.8rem;
}

.comparison-solution .read-more-btn:hover {
    background-color: var(--md-primary-fg-color);
    color: var(--description-font-light);
    border-color: var(--md-primary-fg-color);
}

.product-features {
    background: var(--md-primary-fg-color);
    padding: var(--shared-padding);
    text-align: center;
}

.product-features h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--description-font-light);
}

.product-features .features-list .feature{
    margin-bottom: 1rem;
}

.product-features .features-list h3 {
    font-size: 1.2rem;
    color: var(--description-font-light);
}

.product-features .features-list p {
    font-size: 0.8rem;
    color: var(--description-font-light);
    max-width: var(--shared-p-width);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.product-features .read-more-btn {
    margin-top: 1rem;
    float: right;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid var(--md-primary-fg-color);
    border-radius: 0.25rem;
    font-size: 0.8rem;
    background-color: var(--md-primary-fg-color);
    color: var(--description-font-light);
    border: 1px solid var(--description-font-light);
}

.product-features .read-more-btn:hover {
    background-color: var(--button-hover-color);
    color: var(--md-primary-fg-color);
}

.use-cases {
    background: var(--md-default-bg-color);
    padding: var(--shared-padding);
    text-align: center;
    color: var(--description-font-dark);
}

.use-cases h2 {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: inherit;
}

.use-cases p {
    font-size: 1rem;
    color: inherit;
    margin-bottom: 1rem;
    max-width: var(--shared-p-width);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.use-cases .read-more-btn {
    margin-top: 1rem;
    float: right;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--md-primary-fg-color);
    border: 1px solid var(--md-primary-fg-color);
    border-radius: 0.25rem;
    font-size: 0.8rem;
}

.use-cases .read-more-btn:hover {
    background-color: var(--md-primary-fg-color);
    color: var(--description-font-light);
    border-color: var(--md-primary-fg-color);
}

.feature-dev-test {
    background: var(--md-default-bg-color);
    padding: var(--shared-padding);
    text-align: center;
    color: var(--description-font-dark);
}

.feature-dev-test h2 {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: inherit;
}

.feature-dev-test p {
    font-size: 1rem;
    color: inherit;
    margin-bottom: 1rem;
    max-width: var(--shared-p-width);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.feature-dev-test .read-more-btn {
    margin-top: 1rem;
    float: right;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--md-primary-fg-color);
    border: 1px solid var(--md-primary-fg-color);
    border-radius: 0.25rem;
    font-size: 0.8rem;
}

.feature-dev-test .read-more-btn:hover {
    background-color: var(--md-primary-fg-color);
    color: var(--description-font-light);
    border-color: var(--md-primary-fg-color);
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 560px; /* Maximum video width */
  margin: auto; /* Center the video container */
}

.video-container:before {
  content: "";
  display: block;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 315px; /* Maximum video height */
}


#loadingMessage {
    text-align: center;
    font-size: 0.8rem;
    color: var(--description-font-light)
}

.twitter-feed-section {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1123 1'><path d='M0,0 H1123' style='stroke: hsla(0, 0%, 100%, 1); stroke-width: 1'/></svg>") no-repeat bottom, 
    linear-gradient(to top, var(--md-primary-fg-color) 30%, #ffffff 100%, var(--md-default-bg-color) 100%);
    padding: var(--shared-padding);
    text-align: center;
    overflow-x: hidden;
    display: none;
}

.twitter-feed-section .container {
    max-width: 1200px;
    margin: auto;
}

.twitter-feed-section h2 {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: inherit;
}

.twitter-feed-section .twitter-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 2rem;
}



.twitter-feed-section .twitter-tweet {
    flex-basis: 22%;
    margin: 0.5rem;
    min-width: 250px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    border-radius: 12px; /* Rounded corners */
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
    display: none; /* initially hide tweets */
}

.twitter-tweet-loaded {
    display: block; /* or 'flex', depending on your layout needs */
}


.twitter-feed-section .twitter-tweet:hover {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}

.twitter-feed-section .read-more-btn {
    margin-top: 1rem;
    float: right;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1px solid var(--md-primary-fg-color);
    border-radius: 0.25rem;
    font-size: 0.8rem;
    background-color: var(--md-primary-fg-color);
    color: var(--description-font-light);
    border: 1px solid var(--description-font-light);
}

.twitter-feed-section .read-more-btn:hover {
    background-color: var(--button-hover-color);
    color: var(--md-primary-fg-color);
}

.poster-section .container {
  text-align: center;
  padding: 20px 0;
}

.poster-image {
  max-width: 780px;
  width: 100%;
  height: auto;
}

@media screen and (min-width:76.25em) {
    .mdx-hero__image {
        transform: translateX(8rem);
    }
}

@media screen and (min-width:60em) {

    .mdx-hero {
        align-items: stretch;
        display: flex;
    }

    .mdx-hero__content {
        margin-top: 3.5rem;
        max-width: 19rem;
        padding-bottom: 14vw;
    }

    .mdx-hero__image {
        order: 1;
        transform: translateX(4rem);
        width: 38rem;
    }

    .product-close-up .product-close-up-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .product-close-up .product-image, .product-close-up .product-description {
        flex-basis: 50%;
    }

    .product-close-up .product-description {
        padding-left: 2rem;
        text-align: left;
    }

    .product-close-up .reverse-layout {
        flex-direction: row-reverse; /* Reverse layout for alternate sections */
    }

    .product-close-up .reverse-layout .product-description {
        padding-left: 0;
        padding-right: 2rem;
    }
}

@media screen and (max-width:60em) {
    .mdx-hero {
        display: block;
    }

    .mdx-hero__content {
        margin-top: 1rem;
        max-width: none;
        padding-bottom: 2rem;
        text-align: center;
    }

    .mdx-hero__content .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        max-width: 50%;
        margin: auto; /* Center the container */
    }

    .mdx-hero__content .logo-container img {
        max-width: 100%; /* Allow logos to scale down */
        height: auto; /* Maintain aspect ratio */
    }

    .mdx-hero__content .logo-container img[src="assets/logo.png"] {
        width: 26%;
    }

    .mdx-hero__content img, 
    .mdx-hero__content p, 
    .mdx-hero__content a {
        display: block; /* Stack images, paragraphs, and links */
        margin: 0 auto; /* Center-align the elements */
        max-width: 100%; /* Ensure they fit the container */
        font-size: 0.8rem;
        color: var(--description-font-light);
    }

    .mdx-hero__image {
        order: 0;
        transform: none;
        width: auto; /* Adjust the image width */
        margin-bottom: 1rem; /* Space between the image and content */
        padding-left: 3rem; /* Added left padding */
        padding-right: 3rem; /* Added right padding */
    }

    .connection-row {
        padding-bottom: 1rem;
    }

    .comparison-solution {
        padding: var(--shared-padding-mobile);
        padding-bottom: var(--shared-padding-mobile-bottom);
    }

    .comparison-solution .read-more-btn {
        float: none; /* Prevents floating on smaller screens */
        display: block; /* Makes the button take full width */
        margin: 1rem auto 0; /* Centers the button */
    }

    .product-features {
        padding: var(--shared-padding-mobile);
        padding-bottom: var(--shared-padding-mobile-bottom);
    }

    .product-features .read-more-btn {
        float: none;
        display: block;
        margin: 1rem auto 0;
    }

    .use-cases {
        padding: var(--shared-padding-mobile);
        padding-bottom: var(--shared-padding-mobile-bottom);
    }

    .use-cases .read-more-btn {
        float: none;
        display: block;
        margin: 1rem auto 0;
    }

    .feature-dev-test {
        padding: var(--shared-padding-mobile);
        padding-bottom: var(--shared-padding-mobile-bottom);
    }

    .feature-dev-test .read-more-btn {
        float: none;
        display: block;
        margin: 1rem auto 0;
    }

    .twitter-feed-section {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
        overflow-x: auto;
    }

    .twitter-feed-section .twitter-posts {
        display: flex;
        flex-wrap: nowrap;
        justify-content: normal;
        overflow-x: auto;
        scroll-snap-type: x proximity; /* changed to 'proximity' for more forgiving scrolling */
    }

    .twitter-feed-section .twitter-tweet {
        flex: 0 0 80%;
        scroll-snap-align: center;
        margin-left: 10px;
    }

    .twitter-feed-section .twitter-posts::-webkit-scrollbar {
        display: none;
    }

    .twitter-feed-section .read-more-btn {
        float: none;
        display: block;
        margin: 1rem 1rem;
    }

}


.dialogue-section {
    background: var(--md-primary-fg-color);
    padding: var(--shared-padding);
    text-align: center;
}

.dialogue-section-white {
    padding: var(--shared-padding);
    text-align: center;
}

.dialogue-bubble {
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    position: relative;
    margin: 1rem;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #e7e7e7;
}

.dialogue-bubble p {
    font-size: 1.5rem;
    margin: 0;
    color: var(--description-font-dark);
    font-weight: bold;
}

#op-bubble {
    position: relative;
    align-items: center;
}

#op-bubble p {
    margin-top: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 3rem;
}

.dialogue-bubble::after {
    content: '';
    position: absolute;
    bottom: -32px;
    left: 50%;
    border-width: 16px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    transform: translateX(-50%);
}

.callout-button-container {
    text-align: center;
    margin-top: 2rem;
}

#join-waitlist-button {
    background-color: var(--button-hover-color);
    color: var(--md-primary-fg-color);
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 2px solid var(--md-primary-fg-color);
    border-radius: 1rem;
    font-size: 1.2rem;
    display: block;
}

#join-waitlist-button:hover {
    color: var(--button-hover-color);
    background-color: var(--md-primary-fg-color);
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px; /* Space between avatar and text */
}

@media screen and (max-width: 60em) {
    .dialogue-section {
        padding: 2rem 0rem;
    }

    .dialogue-section-white {
        padding: 2rem 0rem;
    }

    .avatar {
        margin-right: 0px;
        width: 32px;
        height: 32px;
    }

    .dialogue-bubble {
        padding: 1rem 1rem;
        margin: 1rem;
    }

    .dialogue-bubble p {
        padding-left: 0rem;
        font-size: 1rem;
    }

    #op-bubble p {
        padding-top: 6px;
        margin-top: 0rem;
        margin-bottom: 1rem;
    }

    .dialogue-bubble::after {
        bottom: -22px;
        border-width: 12px;
    }

    #join-waitlist-button {
        float: none;
        display: block;
        margin: 1rem auto 0;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
}
