:root {
    --md-admonition-icon--faq: url(/assets/faq.svg)}
  .md-typeset .admonition.faq,
  .md-typeset details.faq {
    border-color: #FF8D1A;
  }
  .md-typeset .faq > .admonition-title,
  .md-typeset .faq > summary {
    background-color: rgba(155, 120, 43, 0.1);
  }
  .md-typeset .faq > .admonition-title::before,
  .md-typeset .faq > summary::before {
    background-color: #FF8D1A;
    -webkit-mask-image: var(--md-admonition-icon--faq);
            mask-image: var(--md-admonition-icon--faq);
  }