name: ci 
on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [trigger-build]
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install mkdocs-material
      # install additional dependencies here
      - name: Install additional dependencies
        run: pip install -r requirements.txt
      - name: Get latest QT release version
        id: get_version
        run: |
          echo "QT_VERSION=$(curl -sL https://api.github.com/repos/TechxArtisanStudio/Openterface_QT/releases/latest | grep '"tag_name":'| sed -E 's/.*"([^"]+)".*/\1/')" >> $GITHUB_ENV
          echo "ANDROID_VERSION=$(curl -sL https://api.github.com/repos/TechxArtisanStudio/Openterface_Android/releases/latest | grep '"tag_name":'| sed -E 's/.*"([^"]+)".*/\1/')" >> $GITHUB_ENV
      - name: Update mkdocs config
        run: |
          sed -i "/^extra:/a\  qt_version: ${{ env.QT_VERSION }}" mkdocs.yml
          sed -i "/^extra:/a\  android_version: ${{ env.ANDROID_VERSION }}" mkdocs.yml
      - run: mkdocs gh-deploy --force
