name: ci
on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [trigger-build]
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags
          submodules: recursive # Checkout CMS submodule
          token: ${{ secrets.GITHUB_TOKEN }} # Needed for private submodule
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install mkdocs-material
      # install additional dependencies here
      - name: Install additional dependencies
        run: pip install -r requirements.txt
      - name: Install CMS dependencies
        run: |
          pip install -r openterface-cms/requirements.txt
      - name: Prepare and build site
        run: |
          python openterface-cms/scripts/prepare_build.py --i18n-mode full --copy-well-known --action build
      - name: Deploy Documentation
        env:
          MK_SECRET_TOKEN: ${{ secrets.MK_SECRET_TOKEN }}
        run: |
          mkdocs gh-deploy --force
